{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<body style="background-color:#F5EEE2;">
</body>
<p1> Hey, my name is Shaked levy from Tichonet, Tel Aviv. I made this program. </p1>
<p2> I decided to make it, because in the end of of 10th grade my parents will buy me the game if I get a good grade. so I decided that because the grade will make me play the game I will use the game as my data</p2>
<p2> Animal Crossing is a nintendo switch game. </p2>
<p3> I hope you enjoy my site!!! </p3>
{% endblock %}
