{% extends "layout.html" %}

{% block content %}

<body style="background-color:#F5EEE2;">
</body>
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<table>

    <tr>
        <td>
            <img src="static/pics/girl.jpg" alt="Girl On Beach" style="width:100%">
        </td>
        <td>
            <img src="static/pics/girl.jpg" alt="Girl On Beach" style="width:100%">
        </td>
       

    </tr>

    <tr>

        <td>
          <img src="static/pics/girl.jpg" alt="Girl On Beach" style="width:100%">
        </td>
        <td>
            <img src="static/pics/girl.jpg" alt="Girl On Beach" style="width:100%">
        </td>


    </tr>



</table>
{% endblock %}