{% extends "layout.html" %}

{% block content %}

<body style="background-color:#F5EEE2;">
</body>
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<table>

    <tr>
        <td>
            <img src="https://pbs.twimg.com/media/DneJx8qXcAA33Ic.jpg" width="400" height="400" />
        </td>
        <td>
            <img src="https://www.allkpop.com/upload/2019/08/content/212037/1566434267-itzy.jpeg" width="400" height="400" />
        </td>
        <td>
            <img src="https://6.viki.io/image/916b2ecac319427f86612db9dd76675d.jpeg?s=900x600&e=t" width="400" height="400" />
        </td>

    </tr>

    <tr>

        <td>
            <img src="https://i.pinimg.com/originals/49/d2/9c/49d29cf925791da908a3b0c8da8c7a77.jpg  " width="400" height="400" />
        </td>
        <td>
            <img src="https://www.allkpop.com/upload/2019/04/content/241230/screen-shot-2019-04-24-at-122952-pmpng.jpg" width="400" height="400" />
        </td>
        <td>
            <img src="https://i.ytimg.com/vi/j8lr0ZQTVdU/maxresdefault.jpg" width="400" height="400" />

        </td>

    </tr>



</table>
{% endblock %}