{% extends "layout.html" %}

{% block content %}

<body style="background-color:#F5EEE2;">
</body>
<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<table>

    <tr>
        <td>
            <img src="static/pics/girl.jpg" alt="Girl On Beach" style="width:700px;height:700px">
        </td>
        <td>
            <img src="static/pics/ANIMAL-CROSSING.jpg" alt="hey" style="width:700px;height:700px">
        </td>
       

    </tr>

    <tr>

        <td>
          <img src="static\pics\animal-crossing-upgrades-guidefeatured-1200x630-c-ar1.91-1.jpg" alt="Girl On Beach" style="width:700px;height:700px">
        </td>
        <td>
            <img src="static\pics\Switch_ACNH_0220_Direct_Advanced_SCRN_08_copy.jpg" alt="nintendo" style="width:700px;height:700px">
        </td>


    </tr>



</table>
{% endblock %}