{% extends "layout.html" %}

{% block content %}

<body style="background-color:#F5EEE2;">
</body>
<style>
    .myDiv {
        border: 4px solid #7FDEE5;
        border-radius: 20px;
        background-color: #BCE5CB;
        text-align: center;
        font-family: Verdana
    }

    .myDiv2 {
        border: 3px solid #7FDEE5;
        border-radius: 20px;
        background-color: #BCE5CB;
        text-align: left;
        height: 200px;
        width: 50%;
        margin-top: 30px;
        font-family: Verdana
    }

    .myDiv2 {
        border: 3px solid #7FDEE5;
        background-color: #BCE5CB;
        text-align: left;
        height: 200px;
        width: 50%;
        margin-right: 200px;
    }
</style>

<br />
<div class="myDiv">
    <h1 style="font-family:verdana">Animal Crossing</h1>
    <p class="lead" style="font-family:verdana">Animal Crossing is a game series made by Nintendo.</p>
</div>
<br />
<div class="container">
    <br />
    <div class="myDiv2">
        <h2 style="margin-left: 10px;font-family:verdana">What is it about?</h2>
        <p style="margin-left: 10px;font-family:verdana">
            Animal Crossing is a game where you can live your own virtual life living with animals. It's a casual game made for everyday fun.
        </p>
        <p style="margin-left: 10px;font-family:verdana">Animal Crossing was made to be a game that gamers of any level can play.</p>
        <p style="margin-left: 10px;font-family:verdana"><a class="btn btn-default" href="https://animal-crossing.com/" style="background-color:#7FDEE5;color:#424649;" target="_blank">AC site &raquo;</a></p>
    </div>
    <div class="myDiv2">
        <h2 style="margin-left: 10px;font-family:verdana">How to play?</h2>
        <p style="margin-left: 10px;font-family:verdana">Animal crossing can be played on many consoles such as Wii, the DS series and the newest Nintendo console, the Switch.</p>
        <p style="margin-left: 10px;font-family:verdana">
            <a class="btn btn-default" href="https://www.nintendo.com/switch/" style="background-color: #7FDEE5;
        color: #424649;" target="_blank">Learn more &raquo;</a>
        </p>
    </div>
    <div class="myDiv2">
        <h2 style="margin-left: 10px;font-family:verdana">  Microsoft Azure</h2>
        <p style="margin-left: 10px;font-family:verdana">  You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p style="margin-left: 10px;font-family:verdana">
            <a class="btn btn-default" href="http://azure.microsoft.com" style="        background-color: #7FDEE5;
        color: #424649;" target="_blank">Learn more &raquo;</a>
        </p>
    </div>
    <div class="myDiv3" style="position:absolute; left:720px; bottom:-380px;" width="500" height="718">
        <img src="static/pics/sherb.png" alt="Sherb" style="width:100%">
    </div>
    <div class="myDiv3" style="position:absolute; left:0px; bottom:-650px;">
        <img src="static/pics/05ee76e8-4eb3-4cae-89ca-c45d34cafcac.jpg" alt="AnimalCrossing" style="width:100%">
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% endblock %}
