﻿{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h2>{{ message }}</h2>
<p1> You need to choose multiple choices and you will get how many animals there are in every Specie you choose</p1>


<body style="background-color:#F5EEE2;">
</body>

<div style="background-color:#F5EEE2;">
    <form method=post>
        {{ form.csrf }}
        <table>
            <tr>
                <td class="input text"> {{ form.SpeciesTypes.label }} </td>
                <td>                    {{ form.SpeciesTypes }}       </td>
            </tr>
            <tr>
                <td></td>
                <td class="input submit"> <input type="submit" value="Submit"> </td>
            </tr>
        </table>
    </form>
    <hr />
    <div class="row">

        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <img src={{ chart }} class="img-thumbnail" alt="not found" height={{height}} width={{ width }}>
        </div>
    </div>

    <hr />

</div>
{% endblock %}